
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Shrikhand&display=swap');




/*smartphone*/

/*pc*/ 

*{
    margin: 0;
    padding:0; 
    
}

.colorNav{
    background-color: rgb(0, 0, 0);
    padding-top:30px;
    padding-bottom:30px ;
}


.navbar-brand{
    margin-left:15% ;
    font-family: 'Shrikhand', cursive;
    font-size: xx-large;
   
}

#navbarNav{
    margin:10px ;
    margin-left:15% ;
}

#textnavHome{
    
    color: rgb(116, 116, 116);
    font-size:125% ;
}
 
.container{
    border: black;
}

.border{
    border:1px solid black ;
    margin-top: 20%;
}

#grilla{
    margin:10px;
}
#grilla{
    display: grid;
    grid-template-areas: 
    "imagen imagen imagen"
     ;
    grid-template-rows:90%;
    grid-template-columns:33% 33% 33% ;
    gap:2px
    
    
}
/*declaracion de areas*/

section#imagen{
    grid-area:imagen;
}

.homeflex{
    height:60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px ; 
}



/*estilos productos destacados home*/

.productosDestacados1{
    height:100vh;
    display: flex;
    justify-content:center ;
    align-items: center;

}
.productosDestacados2{
    height:70vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.conte{
    height: 497px;
    width:300px;
    margin:40px;
    margin-bottom:0% ;
}
  

.imgDestacados{
    width: 298px;
    height:500px ;
}

.informacion{
    height: 80px;
    width:100%;
}
.informacion h2{
    font-family:sans-serif ;
    
    text-align: center;
    margin-bottom:10px ;
    margin-top: 20px;
}
.informacion p{
    text-align: center;
    font-family: sans-serif;
    

}

.precio{
    height: 50px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titulo-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:20%;
}
footer{
    display: flex;
    margin-top:50vh;
    background-color: black;
}
/*grilla shop*/


section#seccion-shop{
    grid-area:seccion-shop ;
}
section#destacados1-shop{
    grid-area:destacado1-shop ;
}
section#destacados2-shop{
    grid-area:destacados2-shop;
}
footer{
    grid-area:footer ;
}
/*secciones shop*/

.seccionesShop{
    height:55vh;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /*align-items: center;*/
   
    
}
.conte-shop{
    height: 497px;
    width:300px;
    margin-top:40px ;
    margin-bottom:0% ;
}
.productosDestacado-shop1{
    height:90vh;
    display: flex;
    justify-content:center ;
    align-items: center;

}
#titulo-shop{

display: flex;
align-items: center;
justify-content: space-around;
margin-top:10%;
}