
#grilla{
    display: grid;
    grid-template-areas: 
    "imagen imagen imagen"
     ;
    grid-template-rows:90%;
    grid-template-columns:33% 33% 33% ;
    gap:2px;
    margin:10px;
    
    
}
section#imagen{
    grid-area:imagen;
}

.homeflex{
    height:60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px ; 
}
#titulo-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:20%;
}

















